
    conda install -c kaspermunch chromwindows horizonplot

In [1]:
import gzip
import pandas as pd
from chromwindow import window

In [2]:
filename = '/project/Baboons/primatediversity/data/callability/PD_0344.variable.filtered.callable.bed.gz'

df = pd.read_csv(filename, compression='gzip', sep='\t', names=['scaffold', 'start', 'end'])
df.head()

   scaffold  start   end
0  tarseq_0   2239  2240
1  tarseq_0   2254  2255
2  tarseq_0   2260  2262
3  tarseq_0   2263  2264
4  tarseq_0   2265  2267

In [4]:
@window(size=100000)
def window_sum(df):
    return (df.end - df.start).sum()

window_df = (df
             .groupby(['scaffold'])
             .apply(window_sum)
             .reset_index(drop=True, level=-1)
             .reset_index()
            )

In [5]:
window_df.head()

   scaffold   start     end  window_sum
0  tarseq_0       0  100000       91176
1  tarseq_0  100000  200000       94027
2  tarseq_0  200000  300000       87314
3  tarseq_0  300000  400000       94138
4  tarseq_0  400000  500000       92991