In [1]:
import os

# !export MODIN_OUT_OF_CORE=true
# !export MODIN_MEMORY=200000000000

#os.environ["MODIN_ENGINE"] = "ray"  # Modin will use Ray
#os.environ["MODIN_ENGINE"] = "dask"
import ray
ray.init(num_cpus=int(os.environ['SLURM_CPUS_PER_TASK']))

import modin.pandas as pd
#import pandas as pd

2020-12-30 09:20:01,698	INFO services.py:1092 -- View the Ray dashboard at http://127.0.0.1:8265
2020-12-30 09:20:04,747	WARNING worker.py:1091 -- The dashboard on node s03n12.genomedk.net failed with the following error:
Traceback (most recent call last):
  File "/home/kmt/anaconda3/envs/baboons/lib/python3.7/site-packages/ray/dashboard/dashboard.py", line 961, in <module>
    metrics_export_address=metrics_export_address)
  File "/home/kmt/anaconda3/envs/baboons/lib/python3.7/site-packages/ray/dashboard/dashboard.py", line 512, in __init__
    build_dir = setup_static_dir(self.app)
  File "/home/kmt/anaconda3/envs/baboons/lib/python3.7/site-packages/ray/dashboard/dashboard.py", line 411, in setup_static_dir
    "&& npm run build)", build_dir)
FileNotFoundError: [Errno 2] Dashboard build directory not found. If installing from source, please follow the additional steps required to build the dashboard(cd python/ray/dashboard/client && npm ci && npm run build): '/home/kmt/anaconda3/envs/baboons/lib/python3.7/site-packages/ray/dashboard/client/build'

In [2]:
import numpy as np

In [3]:

df = pd.DataFrame(dict(A=np.random.randint(1, 10000, 100000)))
for i in range(10):
    df[f'{i}'] = np.random.randint(1, 10000, 100000)

UserWarning: Distributing <class 'dict'> object. This may take some time.

In [4]:
%%time

df.groupby('A').mean()

CPU times: user 134 ms, sys: 16.9 ms, total: 151 ms
Wall time: 320 ms

,0,1,2,3,4,5,6,7,8,9
A,,,,,,,,,,
1,4736.142857,3492.714286,3921.000000,4925.571429,4651.428571,4696.857143,4645.142857,5031.571429,5683.571429,6391.285714
2,3935.428571,3636.000000,3887.428571,5308.714286,6526.857143,5534.571429,4824.714286,4542.285714,5466.428571,4561.571429
3,4070.818182,4695.090909,5312.818182,5674.454545,4821.454545,5265.272727,6003.909091,6097.818182,3815.636364,5162.909091
4,6028.666667,4453.111111,4347.888889,5136.666667,3943.111111,4293.000000,5103.333333,6154.777778,4129.444444,3777.222222
5,4157.571429,2968.142857,3112.428571,5090.000000,4615.428571,5606.571429,4955.857143,5257.000000,5256.285714,7105.857143
...,...,...,...,...,...,...,...,...,...,...
9995,4467.200000,5100.000000,5992.600000,5205.200000,3091.400000,5951.000000,5207.000000,5138.000000,4767.200000,5182.000000
9996,4292.555556,4899.777778,3770.111111,3475.222222,5639.444444,6286.444444,5204.444444,4712.888889,5020.222222,5272.111111
9997,4849.666667,3235.888889,4745.000000,3670.000000,7729.111111,5154.555556,5664.222222,4962.000000,4835.777778,4177.888889
9998,5780.500000,5718.666667,4253.916667,4587.416667,6812.083333,5019.083333,4291.083333,4341.416667,5545.250000,4511.666667
9999,4318.000000,6111.000000,5105.307692,4662.923077,4431.461538,6301.230769,5668.000000,5072.615385,5063.692308,5602.615385